@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: Open Sans;
    font-size: small;
    margin: 20px;
    background: rgb(38, 38, 38);
}

img {
    float: left;
    padding-right: 20px;
}

.menu {
    list-style-type: none;
    position: relative;

    top: 25px;
    left: 10px;
    text-transform: uppercase;
}

.menu a {

    float: left;

    text-align: center;

    height: 18px;
    padding: 10px;
    align-items: center;


    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(73, 73, 73);

}

.menu li a:hover{
	background: #00ff557b;
    color: rgb(0, 0, 0);
    border: rgba(2, 169, 2, 0.241) .1px solid;
}

/* ----------------*/

/* .wrapper{
    background: rgb(220, 17, 17);
} */


iframe {
    float: right;
    padding-top: 90px;
    padding-right: 30px;
    padding-left: 30px;
}

/* ----------------*/

.main{

    padding-top: 80px;
    padding-left: 20px;

    top: 10px;
    /* max-width: 1200px; */
    min-width: 400px;

    margin-right: 20px;
}

.MF {
    background: lightblue;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.CS {
    background:lightgreen;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.TV {
    background: lightpink;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

p{

    max-width: 500px;

}

h2 {
    width: 100px;
}