@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-family: Open Sans;
    background: rgb(92, 92, 92);
    font-size: small;
}

img {
    padding-top: 3px;
    padding-left: 3px;
    border-top-left-radius: 10px;  
}

.block_menu {
    background-color: rgb(128, 240, 154);
    border-radius: 10px;
}

.block_menu_p {
    background-color: rgb(128, 201, 240);
    border-radius: 10px;
}

.block_menu_am {
    background-color: rgb(169, 128, 240);
    border-radius: 10px;
}

.block_menu_c {
    background-color: rgb(240, 128, 128);
    border-radius: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* border-bottom: rgb(128, 240, 154) solid 1px; */
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.menu li {
    display: inline;
    float: left;
}

.menu a {
    display: block;
    padding: 14px 16px;
    color:  white;
    text-align: center;
    text-decoration: none;
    border-right: #444 solid 1px;
    width: 60px;
}   

/* ---[ Value ]--- */

/* -----[ Main ]----- */

.main_section {

    background: rgb(69, 69, 69);
    color: rgba(223, 223, 223);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 10px;
    width: calc(100% - 21px);
}

/* ---[ index ]--- */

.qq {
    background: rgb(57, 57, 57);
    text-align: center;
    height: 30px;
    padding-top: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.496);
}

.t_mf {
    background: rgb(101, 101, 101);
    padding: 10px;
    border-radius: 10px;
}

.cs_t {
    background: rgb(57, 57, 57);
    text-align: center;
    height: 30px;
    padding-top: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.496);
}

.t_cs {
    background: rgb(101, 101, 101);
    padding: 10px;
    border-radius: 10px;
}

.pe {
    background: rgb(57, 57, 57);
    text-align: center;
    height: 30px;
    padding-top: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.496);
}

.t_tv {
    background: rgb(101, 101, 101);
    padding: 10px;
    border-radius: 10px;
}

.r_s {
    background: rgb(57, 57, 57);
    text-align: center;
    height: 30px;
    padding-top: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.496);
}

.spotify {
    position: relative;
    transform: scale(95%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.496);
    top: 6px;
}

.foot_info {
    background: #333;
    width: 100%;
    height: 15px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* ---[ Contact ]--- */

.list_social, .social_xtra{
   list-style: none;
   display: block;
   background: rgb(55, 55, 55);
   padding: 15px;
   border-radius: 20px;
}

.main_section div img{
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.list_social a{
    text-decoration: none;
}

.social_xtra a{
    text-decoration: none;
}

.list_social li{
    display: block;
    background: rgb(66, 66, 66);
    margin: 10px;
    height: 47px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
}

.social_xtra li{
    display: block;
    background: rgb(66, 66, 66);
    margin: 10px;
    height: 47px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
}

.list_social a span{
    position: relative;
    padding-left: 55px;
    bottom: 25px;
    color: rgb(243, 243, 243);
}

.social_xtra a span{
    position: relative;
    padding-left: 55px;
    bottom: 25px;
    color: rgb(243, 243, 243);
}

.title{
    width: 150px;
    position: relative;
    left: 500px;
    font-size: xx-small;
}

.list_social h2, .social_xtra h2 {
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 900px) {

    .title{
        transition: all 600ms;
        width: 150px;
        position: relative;
        left: 320px;
        font-size: xx-small;
    }

    .list_social h2, .social_xtra h2 {
        text-align: center;
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {

    .title{
        transition: all 600ms;
        width: 150px;
        position: relative;
        left: 120px;
        font-size: xx-small;
    }

    .list_social h2, .social_xtra h2 {
        text-align: center;
        padding: 15px;
    }
}